@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Poppins', sans-serif;
    background-color: #fff7f0;
}
h1,h2,h3{
font-family: 'Playfair Display', serif;
}
.navbar{
    background-color: black;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    top: 0;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px 50px;
    z-index: 9999;

}
.logo{
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
    margin-right: 50px;
}
.nav{
    list-style: none;
    display: flex;
    gap: 35px;
}
.nav a{
    text-decoration: none;
    color: white;
    font-weight: 800;
    margin-right: 100px;
     transition: color 0.3s ease;
}
.nav a:hover {
  color: #f5c68b; 
}
.landing{
    background-image: url(./images/lan.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    position: relative;

}
.landing-ctn{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    letter-spacing: 1px;
    transform: translateY(-60px);
}
.about{
    background-color: rgb(17, 14, 14);
    text-align: start;
    flex-direction: column;
    padding: 15px 50px;
    color: white;
}
.about h2{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-left: 220px;
}
.abt-image{
  overflow: hidden;
  position: relative;
}
.about-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  flex-direction: row;
}
.abt-image img{
    position: relative;
    height: 400px;
    width: 100%x;
    object-fit: cover;
    border-radius: 16px;
    margin-top: 20px;
    
}
.abt-content{
    max-width: 500px;
    line-height: 2.2;
    text-align: left;
    
}
.menu{
    background-color:black;

}
.menu h2{
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: white;
    margin-top: 10px;
}
.menu-contain{
    display: grid;
    gap: 40px;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;

}
.menu-item img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}
.menu-item {
  background-color: rgb(17,14,14);
  padding: 20px;
  border-radius: 10px;
  box-shadow: blue
}
.menu-item:hover {
  transform: translateY(5px);
}
.menu-item h3{
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
}
.menu-item p{
    color: wheat;
    text-align: center;
    top: 10px;
}
span{
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}
p, span, h3 {
   font-family: 'Poppins', sans-serif;
   margin-bottom: 10px;  
}
.Contact{
    background-color: black;
    color: aliceblue;
    padding: 60px 80px;
}
.Contact h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: whitesmoke;
}
.con-content{
    background-color:rgb(31, 28, 28);
    width: 500px;
    height: 400px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 30px auto;
    border-radius: 10px;
}
.con-info{
    display: flex;
    gap: 20px;
    line-height: 1.8rem;
    flex-direction: column;
    letter-spacing: 3px;
    margin-top: 40px;
    color:rgb(212, 181, 181);
    align-items: center;
}
.mail{
    text-decoration: none;
    color: skyblue;
}
.mail:hover{
    text-decoration: underline;
    color: darkblue;
}